// * COLOURS
$pink: #ffc2d5;
$darkPink: #ff709b;
$hotPink: #ff447c;
$darkPurple: #9e425e;

$softViolet: #f4b2ff;
$violet: #d270a5;
$mediumViolet: #b60cf1;
$darkViolet: #691093;

$softBlue: #23b0cf;
$blue: #19a0cb;
$darkBlue: #0e579b;

$softGreen: #5ee964;
$green: #1fa41d;
$darkGreen: #0c8b19;

$yellow: #ffc800;

$orange: #ff7a00;
$softOrange: #fadb8a;
$darkOrange: #b94708;
$softBrown: #f49e39;
$mediumBrown: #db8d31;
$semiDarKBrown: #c94800;
$darkBrown: #b03f00;

$red: #ff4646;
$darkRed: #bd2f2f;

$grey: #555555;
